# Firebase service account key
serviceAccountKey.json
*-firebase-adminsdk-*.json

# Firebase project configuration
firebase-config.js

# Node.js dependencies
node_modules/

# IDE-specific files
.idx/
firebase-debug.log
firestore-debug.log

*.log
functions/firestore-debug.log

logs/vsce-debug.log

1c-export/BASHRM_3_0_5_6_cf.cf

.firebase/