body {
    font-family: sans-serif;
    margin: 2em;
}

#login-form,
#vacation-dashboard {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: .5em;
}

input,
select,
button {
    margin-bottom: 1em;
    padding: .5em;
    width: calc(100% - 1em);
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

#logout-btn {
    float: right;
    width: auto;
    margin-bottom: 0;
}

#employee-list {
    list-style: none;
    padding: 0;
}

#employee-list li {
    padding: .5em;
    border-bottom: 1px solid #eee;
}

#employee-list li:last-child {
    border-bottom: none;
}

#employee-list li button {
    margin-left: 1em;
    width: auto;
    padding: .2em .5em;
    font-size: .8em;
}